<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Account Details</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="/css/accounts.css" rel="stylesheet"/>
</head>
<body>
	<header>
		<h1 class="display-3">My Bank</h1>
	</header>
	<form th:each="details : ${details}">
		<table align="center">
			<thead>
				<tr>
					<th>Account Details:</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>First Name:</td>
					<td th:text="${details.firstName}">firstName</td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td th:text="${details.lastName}">lastName</td>
				</tr>
				<tr>
					<td>Email:</td>
					<td th:text="${details.email}">email</td>
				</tr>
			</tbody>	
		</table>
	<br>
	<a th:href="@{'/user/account/update/'+${details.customerId}}"><button type="button" class="btn btn-outline-secondary">Update Account</button></a>
	<br />
	</form>
	<div><a href="/user"><button type="button" class="btn btn-dark">Back</button></a></div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>